extends layout

block content
  h1= title
  form(method='post', action='/predict_upload_picture' enctype="multipart/form-data")
    div
      label テスト画像 / test image
      div.filebox
        if !image_url
          input.checkValue.box(type='file', name='background', required)
        else
          input.checkValue.box(type='file', name='background')
    hr
    button.submit(type='submit') submit
  div
    if image_url
      img(src="/"+image_url)
    if result
      p The number is: #{result}
